@keyframes corre{
    to{
        margin-left: 500px;
        opacity: 0;
    }
}

.correr{
    position: absolute;
    animation: corre 5s infinite ease-in-out;
    margin-left: 1%;
}
.menuTop {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 98.5%;
    height: 65px;
}

.menuTop .logo{
    width: 10%;
}

.menuTop .logo img {
    width: 150px;
    height: 80px;
}

.menuTop ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    width: 100%;
    font-size: 24px;
    justify-content: center;
}

.menuTop li {
    margin: 0 10px;
}

.menuTop a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    
}

.menuTop a:hover {
    background-color: #fff;
    color: #333;
}

.menuTop .login {
    width: 22%;
    display: flex;
    flex-direction: row;
}

.menuTop .login a{
    color: #fff;
    padding: 10px;
    cursor: pointer;
    background-color: darkgreen;
    border-radius: 12px;
    font-size: 18px;
    margin: 2%;
}

.menuTop .login input{
    color: #fff;
    padding: 10px;
    cursor: pointer;
    background-color: darkgreen;
    border-radius: 12px;
    font-size: 18px;
}

.menuTop form{
	margin-top: 5%;
}


@media only screen and (max-width: 800px) {
    .menuTop {
        flex-direction: column;
        height: auto;
    }
    
    .menuTop .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .menuTop .logo img {
        width: 120px;
        height: 60px;
    }
    
    .menuTop ul {
        width: 100%;
        justify-content: space-evenly;
        font-size: 18px;
    }
    
    .menuTop a {
        padding: 8px;
    }
    
    .menuTop .login {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }
    
    .menuTop .login a {
        padding: 6px;
        font-size: 16px;
    }
    .menuTop .login input {
        padding: 6px;
        font-size: 16px;
    }
    .menuTop form{
	margin-top: 25%;
}
}