<!DOCTYPE html>
<head th:insert="librerias::librerias">
	</head>
<body>
<header>

<div th:insert="menu::menu"></div>

</header>

<main class="row">
	<div class="col-3">
		<div class="d-flex flex-column flex-shrink-0 p-3 text-black bg-white" style="width: 300px;">
    <h1>
       Bienvenido  <span sec:authentication = "principal.username" />
    </h1>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link bg-success text-white" aria-current="page" role="button">
          <i class="fas fa-home fa-sm fa-fw mr-3 text-gray-600"></i>
          Home
        </a>
      </li>
      <li>
        <a href="/alumnoEntrenador" class="nav-link text-black">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
         Entrenador
        </a>
      </li>
      <li>
        <a href="/alumnoEjercicio" class="nav-link text-black">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Ejercicios
        </a>
      </li>
      <li>
        <a href="/alumnoRutina" class="nav-link text-black">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Rutinas
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-black">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Progreso
        </a>
      </li>
    </ul>
    <hr>
  </div>
	</div>
	<div class="col-6 p-3" th:object="${miEntrenador}">
		<div th:if="${miEntrenador==null}">
			<h1>Todavía no tienes entrenador</h1>
		</div>
		
		<h1>Entrenador <span th:text="${miEntrenador.nombre}"> </h1>
		<hr>
		<p>¡Hola! Soy tu entrenador online. Te ayudaré con tus objetivos compartiendo ejercicios y rutinas.</p>
		<p>Tambié haré un seguimiento de tu entrenamiento para ver tus progresos.</p>
		 
	</div>
	<div class="col-3 p-3">
	</div>
	</div>
</main>

</body>