<!DOCTYPE html>
<head th:insert="librerias::librerias">
	</head>
<body>
<header>

<div th:insert="menu::menu"></div>

</header>

<main class="row">
	<div class="col-3">
		<div class="d-flex flex-column flex-shrink-0 p-3 text-black bg-white" style="width: 300px;">
    <h1>
       Bienvenido  <span sec:authentication = "principal.username" />
    </h1>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link text-white bg-success" aria-current="page" role="button">
          <i class="fas fa-home fa-sm fa-fw mr-3 text-gray-600"></i>
          Home
        </a>
      </li>
      <li>
        <a href="/alumnoEntrenador" class="nav-link text-black">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
         Entrenador
        </a>
      </li>
      <li>
        <a href="/alumnoEjercicio" class="nav-link text-black">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Ejercicios
        </a>
      </li>
      <li>
        <a href="/alumnoRutina" class="nav-link text-white bg-black">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Rutinas
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-black">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Progreso
        </a>
      </li>
    </ul>
    <hr>
  </div>
	</div>
	<div class="col-6 p-3" th:object="${misRutinas}">
		<h1>Rutinas</h1>
		<hr>
		<p>Aquí puedes crear y gestionar tus rutinas.</p>
		
		<div th:if="${misRutinas.empty}">
			<p>Todavía no tienes rutinas</p>
		</div>
		<div class="card-deck d-flex flex-row flex-wrap">
    <div th:each="rutina: ${misRutinas}">
        <div class="card card-compact m-2" style="width:250px;">
            <div class="card-body text-center">
				<img src="../Imagenes/logo.png" alt="Descripción de la imagen">
                <h5 class="card-title" th:text="${rutina.nombre}"></h5>
                <ul class="list-group list-group-flush" th:each="ejercicio:${rutina.ejercicios}">
                            <li class="list-group-item" th:text="${ejercicio.nombre}"></li>
                        </ul>
                <a th:attr="data-target='#modal-edit'+${rutina.id}" data-toggle="modal" data-target="#modal-edit" class="btn btn-primary btn-sm text-white pointer">Edit</a>
                <a th:attr="data-target='#modal-delete'+${rutina.id}" data-toggle="modal" data-target="#modal-delete" class="btn btn-primary btn-sm text-white pointer">Borrar</a>
            </div>
        </div>
        <!-- edit modal -->
	
	<div class="modal fade" th:id="modal-edit+${rutina.id}">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="exampleModelLabel">Editar</h4>
		<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">x</span>
		</button>
	</div>
	<div class="modal-body">
	<p class="error-text"> Introduce el nuevo ejercicio:
	<strong><span th:text="${rutina.nombre}"> </span></strong></p>
	
	<!-- formulario nombre a editar-->
	<form action="#" th:action="@{/alumnoRutina/edit/{id}(id=${rutina.id})}" th:object="${rutinaaEditar}" method="post">
	 
	 <div class="form-row">
	 
	 <div class="form-group mt-1">
	 <label for="texto">Nombre</label>
	 <input type="text" th:field=${rutinaaEditar.nombre} class="form-control" id="exampleInputEmail1" th:attr="placeholder=${rutina.nombre}"/>
	 
	 </div>
	 
	 </div>
	 
	 <div class="form-row">
	 
	 <div class="form-group mt-1">
	 
	 <label for="texto">Seleccionar ejercicios</label>
	 <select th:Field="${rutinaaEditar.ejercicios}" multiple = "multiple" class="form-control selectpicker" name="ejercicios" id="ejercicios">
	 <option th:each="e:${miAlumno.ejercicios}" th:value="${e.id}" th:text="${e.nombre}" value=""> Seleccionar Ejercicios</option>
	 </select>
	 </div>
	 </div>
	 
	 </div>
	 <div class="modal-footer">
	 <button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">Cancelar</button>
	 <input type="submit" value="Editar" class="btn btn-primary float-right"/>
	 </div>
	
	
	</form>
	
	</div>
	</div>
	</div>
	
	<!-- fin modal -->
	
	
	<!-- delete modal -->
	
	<div class="modal fade" th:id="modal-delete+${rutina.id}">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="exampleModelLabel">Eliminar</h4>
		<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">x</span>
		</button>
	</div>
	
	<div class="modal-body">
	<p class="error-text"> ¿Está seguro de eliminar la rutina
	<strong><span th:text="${rutina.nombre}"> </span></strong>?</p>
	
	 </div>
	 <div class="modal-footer">
	 <button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">Cancelar</button>
	 <a th:href="@{/alumnoRutina/delete/{id}(id=${rutina.id})}">
	 <span class="btn btn-danger btn-sm" value="delete">Borrar</span>
	 </a>
	 </div>
	
	</div>
	</div>
	</div>
	
	<!-- fin delete modal -->
    </div>
</div>

<div class="col-3 float right">

<div class="p-5">
<button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#crearMensaje">
Añadir Rutina</button>
</div>

<!-- create modal -->
	
	<div class="modal fade" th:id="crearMensaje" tabindex="1" role="dialog">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="exampleModelLabel">Crear Rutina</h4>
		<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">x</span>
		</button>
	</div>
	<div class="modal-body">
	<p class="error-text"> Introduce el nombre nuevo para la nueva rutina:</p>
	
	
	<form action="#" th:action="@{/alumnoRutina/add/}" th:object="${rutinaNuevo}" method="post">
  <div class="form-row">
    <div class="form-group mt-1">
      <label for="nombre">Nombre</label>
      <input type="text" th:field="${rutinaNuevo.nombre}" class="form-control" id="nombre" name="nombre" th:attr="placeholder=${rutinaNuevo.nombre}"/>
    </div>
  </div>
  <div class="form-row">
	 
	 <div class="form-group mt-1">
	 
	 <label for="texto">Seleccionar ejercicios</label>
	 <select th:Field="${rutinaNuevo.ejercicios}" multiple = "multiple" class="form-control selectpicker" name="ejercicios" id="ejercicios">
	 <option th:each="e:${miAlumno.ejercicios}" th:value="${e.id}" th:text="${e.nombre}" value=""> Seleccionar Ejercicios</option>
	 </select>
	 </div>
	 </div>
  <div class="modal-footer">
    <button class="btn btn-secondary btn-sm" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <input type="submit" value="Crear Rutina" class="btn btn-primary float-right"/>
  </div>
</form>
	
	</div>
	</div>
	</div>
	
	<!-- fin create modal -->


</div>

</div>		 
	</div>
	<div class="col-3 p-3">
	</div>
	</div>
</main>

</body>