<!DOCTYPE html>

<head th:insert="librerias::librerias">
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la página</title>
</head>

<body>
	<header>

		<div th:insert="menu::menu"></div>

	</header>

<main class="container-fluid">
			<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-success d-lg-none justify-content-center">
        <button class="navbar-toggler bg-success" type="button" data-toggle="collapse" data-target="#responsiveMenu"
                aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
           <i class="fas fa-align-left text-white"></i>
                    <span class="text-white">Abrir menú</span>
        </button>

        <div class="collapse navbar-collapse text-center justify-content-center" id="responsiveMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/entrenadorAlumno">Alumnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/entrenadorEjercicio">Ejercicios</a>
                </li>
                <li class="nav-item text-white">
                    <a class="nav-link text-white" href="/entrenadorRutina">Rutinas</a>
                </li>
                <li class="nav-item text-white">
                    <a class="nav-link text-white" href="#">Progreso</a>
                </li>
            </ul>
        </div>
    </nav>
				</div>
				<div class="row">
	<div class="col-3 d-none d-lg-block">
            <div class="d-flex flex-column flex-shrink-0 p-3 text-black bg-white" style="width: 300px;">
                <h1>
                    Bienvenido <span sec:authentication="principal.username"></span>
                </h1>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link text-white bg-success" aria-current="page" role="button">
                            <i class="fas fa-home fa-sm fa-fw mr-3 text-gray-600"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/entrenadorAlumno" class="nav-link text-white bg-black">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#speedometer2"></use>
                            </svg>
                            Alumnos
                        </a>
                    </li>
                    <li>
                        <a href="/entrenadorEjercicio" class="nav-link text-black">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#table"></use>
                            </svg>
                            Ejercicios
                        </a>
                    </li>
                    <li>
                        <a href="/entrenadorRutina" class="nav-link text-black">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#grid"></use>
                            </svg>
                            Rutinas
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-black">
                            <svg class="bi me-2" width="16" height="16">
                                <use xlink:href="#people-circle"></use>
                            </svg>
                            Progreso
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
		<div class="col-lg-9 col-sm-12 p-3" th:object="${misAlumnos}">
			<div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
            <div>
            <h1>Alumnos</h1>
            </div>
            <div class="d-flex flex-row">
            <button type="button" class="btn btn-primary m-2" data-toggle="modal" data-target="#crearMensaje">
			Añadir alumno</button>
			</div>
		</div>
			<hr>
			<div th:if="${misAlumnos.empty}">
				<p>Todavía no tienes alumnos</p>
			</div>
			<p>Aquí puedes ver los alumnos que tienes</p>
			<div class="card m-2" th:each="alumno, iter : ${misAlumnos}">
				<div class="card-header d-flex flex-row align-items-center">
					<img th:if="${usu[iter.index].imagen != null}"
						th:src="@{'data:'+${usu[iter.index].mimeType}+';base64,'+${usu[iter.index].getImagen()}}" class="rounded-circle"
						width="50px" height="50px">
					<img th:if="${usu[iter.index].imagen == null}" src="../Imagenes/usuario.png" class="rounded-circle"
						width="50px" height="50px">
					<h5 style="margin-left: 1%;"><span th:text="${alumno.nombre}"></span> <span th:text="${alumno.apellidos}"></span></h5>
				</div>

				<div class="card-body">
					<h5 class="card-title">Objetivos: <span th:text="${alumno.objetivos}"></span></h5>
					<p class="card-text">Descripción: <spanth:text="${alumno.descripcion}"></span></p>
					<a th:attr="data-target='#modal-delete'+${alumno.id}" data-toggle="modal"
						data-target="#modal-delete" class="btn btn-primary btn-sm text-white pointer">Borrar</a>
						<a th:href="@{/entrenadorAlumno/{id}(id=${alumno.id})}" class="btn btn-primary btn-sm text-white pointer">Ver</a>
					<div class="modal fade" th:id="modal-delete+${alumno.id}">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title" id="exampleModelLabel">Eliminar</h4>
									<button class="close btn btn-danger" type="button" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">x</span>
									</button>
								</div>

								<div class="modal-body">
									<p class="error-text"> ¿Está seguro de eliminar al alumno:
										<strong><span th:text="${alumno.nombre}"> </span></strong>?
									</p>

								</div>
								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" data-dismiss="modal"
										aria-hidden="true">Cancelar</button>
									<a th:href="@{/entrenadorAlumno/delete/{id}(id=${alumno.id})}">
										<span class="btn btn-danger btn-sm" value="delete">Borrar</span>
									</a>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="col-3 float right">

				<!-- create modal -->

				<div class="modal fade" th:id="crearMensaje" tabindex="1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="exampleModelLabel">Crear alumno</h4>
								<button class="close btn btn-danger" type="button" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">x</span>
								</button>
							</div>
							<div class="modal-body">
								<form action="#" th:action="@{/entrenadorAlumno/add/}" th:object="${entrenadorNuevo}"
									method="post">

									<div class="form-row">

										<div class="form-group mt-1" id="select-alumnos">
											<div th:if="${!libre.empty}">

												<label for="texto">Seleccionar alumnos</label>
												<select th:Field="*{alumnos}" multiple="multiple"
													class="form-control selectpicker" name="alumnos" id="alumnos">
													<option th:each="a:${listaalumnos}"
														th:if="${a.entrenadores == null}" th:value="${a.id}"
														th:text="${a.nombre}" value=""> Seleccionar Alumnos</option>

												</select>
											</div>
											<div th:if="${libre.empty}">
												<p>No hay alumnos libres</p>
											</div>

										</div>

									</div>

							</div>

							<div class="modal-footer">
								<button class="btn btn-secondary btn-sm" data-dismiss="modal"
									aria-hidden="true">Cancelar</button>
								<input type="submit" value="Crear Alumno" class="btn btn-primary float-right" />
							</div>

							</form>

						</div>
					</div>
				</div>

				<!-- fin create modal -->


			</div>

		</div>
		</div>
		
		</div>
	</main>
<div class="alerta" th:if="${fallo}">[[${fallo}]]</div>
<script>
	$(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
</script>
</body>