<!DOCTYPE html>
<head th:insert="librerias::librerias">

</head>
<body>

<main  style="background-image: url(/Imagenes/404.png); background-repeat: no-repeat; background-position: center;background-size: cover;height: 100vh;">
<div class="d-flex justify-content-center align-items-end" style="height: 75%; width: 100%;">
<div class="text-center text-white d-flex flex-column align-items-center justify-content-between" style="height: 165px;">
<div style="width: 40%;">
	<a href="/" class="btn btn-dark" style="width: 100%;">Volver</a>
</div>
<div>
	<h1 style="font-family: Comic Sans MS;">NO ENCONTRADO</h1>
</div>

</div>
</div>
</main>
<script>
	let body = document.querySelectorAll("body")[0];
	body.addEventListener("click",()=>{
		window.location.href="/";
	})
	
</script>
</body>