<!DOCTYPE html>
<head th:insert="librerias::librerias">

</head>
<body>

<main  style="background-image: url(/Imagenes/403.png); background-repeat: no-repeat; background-position: center;background-size: cover;height: 100vh;">
<div class="d-flex justify-content-center align-items-end" style="height: 70%; width: 100%;">
<div class="text-center text-white d-flex flex-column align-items-center justify-content-between" style="height: 300px;">

<div>
	<h1 style="font-family: Comic Sans MS;">PROHIBIDO</h1>
</div>
<div style="width: 40%;">
	<a href="/" class="btn btn-dark" style="width: 100%;">Volver</a>
</div>
</div>
</div>
</main>
<script>
	const windowWidth = window.innerWidth;

const windowHeight = window.innerHeight;

const body = document.querySelector("body");
 
 body.addEventListener("click",()=>{
	 
console.log("Ancho de la ventana:", windowWidth);

console.log("Alto de la ventana:", windowHeight);
 })

// Imprime los valores en la consola

</script>
</body>