<!DOCTYPE html>

<head th:insert="librerias">
</head>

<body style="background-color: #eee;">

	<section class="h-100 gradient-form">
		<div th:if="${param.error}">
					<p class="alert alert-danger btn-sm m-2">Usuario o contraseña incorrectos</p>
				</div>

				<div th:if="${param.exito}">
					<p class="alert alert-info">Registrado correctamente, introduce usuario y contraseña</p>
				</div>

				<div th:if="${param.logout}">
					<p class="alert alert-info">Sesión cerrada correctamente</p>
				</div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="/Imagenes/logo2.png"
                    style="width: 200px; height: 200px;" alt="logo">
                </div>

                <form method="post" action="/login">
                  <h1>Inicia sesión con tu cuenta</h1>

                  <div class="form-outline mb-4">
					  <label class="form-label" for="form2Example11">Username</label>
                    <input placeholder="Usuario" type="text" id="username" name="username" required="true"
								class="form-control text-grey-900" />
                    
                  </div>

                  <div class="form-outline mb-4">
                   <label for="inputPass">Contraseña</label>

							<div class="input-group" id="show_hide_password">
								<input placeholder="Password" type="password" name="password" id="password"
									required="true" class="form-control text-grey-900" />

								<div class="input-group-text">
									<a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
								</div>
							</div>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
						<input type="submit" value="Acceder" class="btn btn-primary float-right mt-3">
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <label class="b-0 me-2" for="inputSinRegistro">¿Aún no tienes cuenta?</label>
									<a class="btn btn-primary float-right mt-3 mr-3"
										th:href="@{/usuarios/registro}">Regístrate</a>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-center gradient-custom-2" style="background-image: url('/Imagenes/loginGif.gif');
  background-repeat: no-repeat;background-size: cover;background-position: center;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>