<!DOCTYPE html>

<head th:insert="librerias">
</head>

<body>
<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="../Imagenes/logo2.png"
                    style="width: 200px; height: 200px;" alt="logo">
                </div>

                <form method="post" th:action="@{/usuarios/addRegistro}" th:object="${newUserDTO}" enctype="multipart/form-data">
                  <h1>Crea tu cuenta Invincible Body</h1>

                  <div class="form-outline mb-4">
					  	<label for="inputnombre">Nombre</label>
							<input placeholder="Nombre" th:field="*{nombre}" type="text" id="nombre" name="nombre"
								required="true" class="form-control text-grey-900" />

                    
                  </div>
                  <div class="form-outline mb-4">
					  	<label for="inputapellidos">Apellidos</label>
							<input placeholder="Apellidos" th:field="*{apellidos}" type="text" id="apellidos" name="apellidos"
								required="true" class="form-control text-grey-900" />

                    
                  </div>
                  
                  <div class="form-outline mb-4">
					  	<label for="inputapemail">Correo</label>
							<input placeholder="Email" th:field="*{correo}" type="email" id="email" name="email"
								required="true" class="form-control text-grey-900" />

                    
                  </div>
                  
                  <div class="form-outline mb-4">
					 <label for="inputnombre">Usuario</label>
								<input th:field="*{username}" placeholder="Nombre" type="text" id="username"
									name="username" required="true" class="form-control text-grey-900" />
                    
                  </div>
                  
                  <div class="form-row">

							<div class="form-group col-10">
							<label>Sexo</label>
							<br>
								<div class="form-check-inline">
									<input th:field="*{sexo}" class="form-check-input" type="radio" name="flexRadioDefault"
										id="flexRadioDefault1" value="Hombre" checked>
									<label class="form-check-label" for="flexRadioDefault1">
										Hombre
									</label>
								</div>
								<div class="form-check-inline">
									<input th:field="*{sexo}" class="form-check-input" type="radio" name="flexRadioDefault"
										id="flexRadioDefault2" value="Mujer">
									<label class="form-check-label" for="flexRadioDefault2">
										Mujer
									</label>
								</div>
							</div>

						</div>

                  <div class="form-outline mb-4">
                   <label for="inputPass">Contraseña</label>

								<div class="input-group" id="show_hide_password">
									<input th:field="*{password}" placeholder="Password" type="password" name="password"
										id="password" required="true" class="form-control text-grey-900" />

									<div class="input-group-text">
										<a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
									</div>
								</div>
                  </div>
                  
                  <div class="form-outline mb-4">
	 						<label for="file">Imagen</label>
	  						<input id="input-file" type="file" name="file" accept="image/png, image/jpeg" />
                    
                  </div>
                  
                  <div class="form-row">

							<div class="form-group col-10">
							<label>Tipo de cuenta</label>
							<br>
								<div class="form-check-inline">
									<input th:field="*{rol}" class="form-check-input" type="radio" name="flexRadioDefault"
										id="flexRadioDefault3" value="Alumno" checked>
									<label class="form-check-label" for="flexRadioDefault3">
										Alumno
									</label>
								</div>
								<div class="form-check-inline">
									<input th:field="*{rol}" class="form-check-input" type="radio" name="flexRadioDefault"
										id="flexRadioDefault4" value="Entrenador">
									<label class="form-check-label" for="flexRadioDefault4">
										Entrenador
									</label>
								</div>
							</div>

						</div>

                  <div class="text-center pt-1 mb-5 pb-1">
						<input type="submit" value="Acceder" class="btn btn-primary float-right mt-3">
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2" style="background-image: url('../Imagenes/registroGif.gif');
              background-repeat: no-repeat;background-size: cover;background-position: center;">
              <div class="text-black px-3 py-4 p-md-5 mx-md-4" >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>